/**
 * Basic
 * -------------------------------------------------------------------------- */
:root {
  --ph-layout-max-width: var(--vp-layout-max-width);
  --ph-layout-aside-width: 278px;
  --ph-layout-section-max-width: 1000px;
}

/**
 * Component: NoMore
 * -------------------------------------------------------------------------- */
:root {
  --ph-no-more-text: var(--vp-c-text-2);
}

/**
 * Component: PHAuthorInfo
 * -------------------------------------------------------------------------- */
:root {
  --ph-author-info-link-hover-text: var(--vp-c-brand-2);
  --ph-author-info-filter-border: var(--vp-c-border);
}

/**
 * Component: PHPostList
 * -------------------------------------------------------------------------- */
:root {
  --ph-post-list-title-text: var(--vp-c-brand-1);
  --ph-post-list-title-hover-text: var(--vp-c-brand-2);
  --ph-post-list-excerpt-text: var(--vp-c-text-2);
  --ph-post-list-footer-text: var(--vp-c-text-2);
}

/**
 * Component: PHPostMeta
 * -------------------------------------------------------------------------- */
:root {
  --ph-post-meta-tag-bg: var(--vp-c-bg-soft);
  --ph-post-meta-tag-text: var(--vp-c-text-2);
  --ph-post-meta-tag-pseudo-bg: var(--vp-c-bg);
  --ph-post-meta-tag-pseudo-border: var(--vp-c-bg-soft);
}

/**
 * Component: PHTags
 * -------------------------------------------------------------------------- */
:root {
  --ph-tags-content-text: var(--vp-c-white);
  --ph-tags-des-text: var(--vp-c-text-2);
}

/**
 * Component: PHTag
 * -------------------------------------------------------------------------- */
:root {
  --ph-tag-des-text: var(--vp-c-text-2);
}

/**
 * Component: PHCategories
 * -------------------------------------------------------------------------- */
:root {
  --ph-categories-nav-border: var(--vp-c-divider);
  --ph-categories-title-text: var(--vp-c-text-2);
  --ph-categories--title-hover-text: var(--vp-c-brand-1);
  --ph-categories--title-active-text: var(--vp-c-brand-1);
}
